#nav{
    font-size: 18px;
    font-weight: bold;
    background-color: #20232a;
}
#nav li{
    text-decoration: none;
    list-style: none;
    display: inline;
    /*background-color: #30DDEB;*/
}
#nav li a{
    color: white;
    text-decoration: none;
    margin:0px;
    height:40px;
    line-height:40px;
    text-align:center;
    background-color: transparent ;
}
#nav li a:hover{
    color: rgb(97, 218, 251);/*鼠标经过事件*/
    background-color: cadetblue;
}

.search {
    display: inline;
    float: right;
    border: 1px solid #ffffff;
    border-radius: 1px;
    margin: 9px;
}

#search {
    width: 110px;
    height: 24px;
    margin:0px;
}

#sousuo {
    width: 18px;
    height: 18px;
    background-color: white;
    margin: 0px;
}

#svg-warpper {
    display: inherit;
    float: right;
    background-color: white;
    height: 29px;
}

#shop-list {
    background: white;
}

#shop-list-each li a{
    position: relative;
    top: 0px;
    height: 100px;
    border: 1px solid #ffffff;
    text-align: left;
}

#shop-list-each li a .shop-img{
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    /*overflow: hidden;*/
}

#shop-list-each li a .shop-img img{
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
}

#shop-list-each li a .shop-detail {
    margin-left: 105px;
    height: 100px;
}

#shop-list-each li a .shop-detail a{
    width: 100px;
    height: 100px;


}